@font-face {
	font-family: 'Yekan';
	src: url('../fonts/Yekan.eot');
	src: url('../fonts/Yekan.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Yekan.woff') format('woff'),
	url('../fonts/Yekan.ttf') format('truetype'),
	url('../fonts/Yekan.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'Iransans-digits';
    src: url('../fonts/Iransans.eot');
    src: url('../fonts/Iransans.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Iransans.woff') format('woff'),
    url('../fonts/Iransans.ttf') format('truetype'),
    url('../fonts/Iransans.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Shabnam';
    src: url('../fonts/Shabnam.woff') format('woff'),
    url('../fonts/Shabnam.ttf') format('truetype'),
    url('../fonts/Shabnam.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/*
.dig_bdy_container *{
	font-family: Yekan;
}*/
.dig_popmessage .dig_firele {
    right: 0;
}
html[dir="rtl"] .dig_lasele {
    left: 0;
    right: 0;
    padding-right: 0;
    padding-left: 17px;
}
.dig_popdismiss {
    right: auto;
    left: 10px;
}
.minput{
	direction: rtl!important;
}
img.dig_captcha {
    left: 0;
    right: auto;
}
.dig-custom-field .dig_opt_mult_con .dig_input_wrapper {
    padding-right: 25px;
    padding-left: 0;
}
.digits-form_button_ic {
    transform: rotate(180deg);
}
.digits_ui .dig-box {
    text-align: right;
}
.digits-form_tab-bar .digits-form_tab-item {
     font-size: 14px;
 }
.digits_otp_info {
    position: absolute;
    left: 0;
    right: auto;
    padding-right: 0;
    padding-left: 16px;
}