.woocommerce-Button {
    z-index: 1;
}

.dig_wc_loginViaContainer {
    text-align: center;
}

.dig_wc_mobileLogin {
    width: 100%;
}

.dig_wc_countrycode[type="text"] {
    text-align: center;
    background: transparent !important;
    padding-right: 4px;
    outline: none;
    min-width: 20px;
    width: auto !important;
    z-index: 2;
    box-shadow: none !important;
}

.ump_digits_otp_container {
    display: none;
}

.digcon {
    direction: ltr;
}

.countrycode {
    margin-top: 0;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dig_wc_countrycodecontainer {
    display: none;
    position: absolute;
    top: 0;
    z-index: 10;
    left: 0;
}

.dig_wc_countrycodecontainer input {
    text-align: center;
}

.digcon {
    position: relative;
}

.loginerrordg {
    color: #b70000;
}

.create-account .dig_billing_otp_signup {
    display: none;
}

#dig_billing_otp_field label span {
    display: none;
}

.register .woocommerce-Button, #reg_billing_otp_container {
    z-index: 1;
}

#_billing_phone {
    direction: ltr;
}

.dig_resendotp {
    width: 100%;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    display: none;
    font-size: 14px;
}

#dig_man_resend_otp_btn {
    z-index: -1;
    float: right;
}

#woocommerce-order-data .address p:nth-child(3) a, .woocommerce-customer-details--phone {
    direction: ltr !important;
    unicode-bidi: embed !important;
}

.dig_wc_logincountrycode {
    transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
}

.register .woocommerce-Button {
    width: 100%;
}

.dig_resendotp_disabled {
    opacity: 0.6;
    cursor: default !important;
}

#bp_otp_dig {
    display: none;
}

.dig_billing_wc_dv {
    text-align: center;
}

.dig_billing_wc_dv input[type='submit'] {
    width: 100%;
    margin: 10px 0;
}

#digorimp {
    text-align: center;
}

.digor {
    text-align: center;
}

.login .woocommerce-LostPassword a {
    float: right !important;
}

.login .woocommerce-Button {
    width: 100%;
}

.msggreen {
    color: #00840f;
}

.dig_wc_log_msg {
    text-align: initial;

}

#dig_reg_bp_pass, #dig_bp_reg_otp {
    display: none;
}

.register input[type="submit"] {
    width: 100%;
}

.dig_wc_mailsecond {
    display: none;
}

.secmailormob {
    width: 100% !important;
}

#wp_bb_log_submit {
    width: 100%;
}

.bbp-login-form label {
    width: 100%;
}

.digits div.bbp-submit-wrapper {
    float: unset;
}

.dig_wc_mobileWhatsApp {
    margin-top: 10px;
}

#dig_billing_otp_field .woocommerce-input-wrapper {
    position: relative;
}

#dig_billing_otp_field .woocommerce-input-wrapper::after {
    content: ' ';
    position: absolute;
    top: 2px;
    right: 16px;
    display: block;
    width: 16px;
    height: 16px;
    pointer-events: none;
    background-size: contain;
    background-repeat: no-repeat;
}

.valid_otp#dig_billing_otp_field .woocommerce-input-wrapper::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%230fa951' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round' class='feather feather-check'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
}

.invalid_otp#dig_billing_otp_field .woocommerce-input-wrapper::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23c70049' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round' class='feather feather-x'%3E%3Cline x1='18' y1='6' x2='6' y2='18'%3E%3C/line%3E%3Cline x1='6' y1='6' x2='18' y2='18'%3E%3C/line%3E%3C/svg%3E");
}

.checking_otp#dig_billing_otp_field .woocommerce-input-wrapper::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='loader' x='0px' y='0px' viewBox='0 0 50 50' fill='rgba(0, 0, 0, 0.3)' style='enable-background:new 0 0 50 50;' xml:space='preserve'%3E%3Cpath d='M11.1,29.6c-0.5-1.5-0.8-3-0.8-4.6c0-8.1,6.6-14.7,14.7-14.7S39.7,16.9,39.7,25c0,1.6-0.3,3.2-0.8,4.6l6.1,2 c0.7-2.1,1.1-4.3,1.1-6.6c0-11.7-9.5-21.2-21.2-21.2S3.8,13.3,3.8,25c0,2.3,0.4,4.5,1.1,6.6L11.1,29.6z'/%3E%3C/svg%3E%0A");
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.otp_valid_message {
    color: #1dae5b;
}

.digits-tp_style.woocommerce-form-login input {
    width: 100%;
}

.wp_login .wp_form_last_section {
    width: 100%;
}

.wp_login .wp_form_last_section .button-large {
    width: 100%;
}

.digits_wp_button.button {
    height: inherit;
    width: 100%;
}

.wp_login .digits-form_show_forgot_password {
    display: none;
}

.wp_login .digits-form_tab_wrapper {
    width: 100%;
}

.wp_login .digits-form_input input {
    font-size: inherit;
    height: inherit;
    line-height: inherit;
    margin-bottom: 0;
}

.digits-tp_style .digits-form_hint {
    margin-bottom: 16px;
}

.wp_login .digits-form_tab-bar .digits-form_tab-item {
    font-size: 16px;
}

.wp_login .digits-form_tab-bar {
    gap: 20px;
}

#ihc_login_form.digits-tp_style .digits-form_input input,
#ihc_login_form .digits_secure_login-tp {
    width: 100%;
}

#ihc_login_form.digits-tp_style:not(.digits_form_index_section) .impu-form-links-reg {
    opacity: 0;
    visibility: hidden;
    display: none;
    pointer-events: none;
}

.digits-form_submit-btn.cfw-primary-btn {
    width: 100%;
    margin-top: 1.6em;
}
#cfw_login_modal_form .digits-form_input input, .digits-form_input input{
    width: 100%;
}

.woocommerce-form p.dig-custom-field,
.dig-custom-field p {
    margin-bottom: 0;
    margin-top: 16px;
}
/**/
.dig_resendotp{
    clear: both;
}